NEXT_PUBLIC_APP_ENV=development
NEXT_PUBLIC_SITE_NAME="Cursos de certificación"
NEXT_PUBLIC_BASE_URL="http://localhost:3003/api"

# Dominios de imágenes soportados por la aplicación (separados por coma)
NEXT_PUBLIC_IMAGES_DOMAIN="localhost"